<p>
	<a href="#!/">Back to Search</a>
</p>


<h1>Forecast for {{ city }}</h1>
<hr/> <!-- The value that comes from $routeParams is a String, so we need to compare as '2' -->
Days : <a href="#!/forecast/2"  ng-class="{'bg-primary': days === '2' }" >2</a> |  
       <a href="#!/forecast/5"  ng-class="{'bg-primary': days === '5' }" >5</a> | 
       <a href="#!/forecast/7"  ng-class="{'bg-primary': days === '7' }" >7</a>
<hr/>

<div ng-repeat="weather in weatherResult.list">
	<div class="row">
		<div class="col-md-12">
			<weather-report
				weather-day="weather" 
				convert-to-degree-celsius="convertToCelsius(degreeKelvin)" 
				convert-to-standard="getFormattedDate(date)" 
				date-format="MM/dd/yyyy @ h:mma" 
				symbol="&#x2103"
			>
			</weather-report>
		</div>
	</div>
</div>